<div class="container-fluid">
  <div class="jumbotron text-left">
    <div class="row border">
      <div class="col-sm">
        <div class="row">
          <img src="{{ profile_pic }}" width="15%" />
        </div>
      </div>

      <div class="col-sm">
        <b>Recruiter Name :</b> {{recruiter_name}} <br />
        <b>Recruiter Email :</b> {{recruiter_email}} <br />
        <b>Recruiter Org :</b> {{recruiter_org}} <br />
        <a href="https://www.linkedin.com/in/abhay-chaturvedi-0837a48b/"><b>Linkedin</b></a>
      </div>
    </div>

    <div id="My Candidates" class="row border" >
        <caption>My Candidates</caption>
        <table class="table ">
          <thead>
            <tr>
              <th scope="col">Candidate Alias</th>
              <th scope="col">Last Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Candidate 1</th>
              <td>Yesterday</td>

            </tr>
            <tr>
              <th>Candidate 1</th>
              <td>Yesterday</td>

            </tr>
            <tr>
              <th>Candidate 1</th>
              <td>Yesterday</td>

            </tr>
            <tr>
              <th>Candidate 1</th>
              <td>Yesterday</td>

            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>