<div class="container-fluid">
  <div class="jumbotron text-left">
    <div class="row">
      <div class="col-sm">
        <b>Name :</b> Super recruiter <br />
        <b>Experience :</b> 2 years <br />
        <b>Employer :</b> Some recruitment firm <br />
      </div>
      <div class="col-sm">
        <b>Overall Rating :</b> 3.0/5.0 <br />
        <a href="https://www.linkedin.com/in/abhay-chaturvedi-0837a48b/"><b>Linkedin</b></a>
      </div>
    </div>
    <!-- </div> -->

    <div id="news_feed" class="card">
        <div class="card-body">
            <h5 class="card-title">Someone added new F2F incident for <a routerLink="/profile" routerLinkActive="active">abhay chaturvedi</a></h5>
            <p class="card-text">This is a candidate you are following</p>
        </div>
    </div>
    <div id="news_feed" class="card">
        <div class="card-body">
            <h5 class="card-title">Someone added new F2F incident for <a href="profile">abhay chaturvedi</a></h5>
            <p class="card-text">This is a candidate you are following</p>
        </div>
    </div>
  </div>
</div>